# HW1
This homework is about Playing with **Numpy, Pandas** and **Matplotlib**.

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

## Importing Dataset into a dataframe
For this part I used read_csv function which gets path of the dataset and the column to use as index and returns a dataframe.

In [2]:
df = pd.read_csv('dataset/HW1_Dataset.csv',index_col=0)
df.head()

,CCA3,Name,2022,2020,2015,2010,2000,1990,1980,1970,Area (km²)
0,BN,Brunei,449,442,421,396,334,262,188,133,5765
1,JE,Jersey,111,108,101,96,86,83,75,68,116
2,VN,Vietnam,98187,96649,92191,87411,79001,66913,52968,41929,331212
3,JP,Japan,123952,125245,127251,128105,126804,123686,117624,105417,377930
4,IS,Iceland,373,367,331,318,281,255,228,204,103000

## Finding more information about the dataset
we can get information like how many columns this dataset has and their data type and ... by easily calling info() function :).

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CCA3        233 non-null    object
 1   Name        234 non-null    object
 2   2022        234 non-null    int64
 3   2020        234 non-null    int64
 4   2015        234 non-null    int64
 5   2010        234 non-null    int64
 6   2000        234 non-null    int64
 7   1990        234 non-null    int64
 8   1980        234 non-null    int64
 9   1970        234 non-null    int64
 10  Area (km²)  234 non-null    int64
dtypes: int64(9), object(2)
memory usage: 21.9+ KB

## 1.1 Find the Density by using 2022's column and Area's column
We simply divide the columns
and put the result in a new column.

In [4]:
df['Density'] = df['2022'] / df['Area (km²)']
df

,CCA3,Name,2022,2020,2015,2010,2000,1990,1980,1970,Area (km²),Density
0,BN,Brunei,449,442,421,396,334,262,188,133,5765,0.077884
1,JE,Jersey,111,108,101,96,86,83,75,68,116,0.956897
2,VN,Vietnam,98187,96649,92191,87411,79001,66913,52968,41929,331212,0.296448
3,JP,Japan,123952,125245,127251,128105,126804,123686,117624,105417,377930,0.327976
4,IS,Iceland,373,367,331,318,281,255,228,204,103000,0.003621
...,...,...,...,...,...,...,...,...,...,...,...,...
229,LU,Luxembourg,648,630,569,507,436,381,364,339,2586,0.250580
230,BJ,Benin,13353,12643,10933,9446,6998,5133,3834,3023,112622,0.118565
231,KP,North Korea,26069,25867,25258,24686,23367,20800,17974,14997,120538,0.216272
232,MP,Northern Mariana Islands,50,50,52,54,80,48,18,10,464,0.107759
233,LI,Liechtenstein,39,39,37,36,33,29,25,21,160,0.243750

## 1.2 Find the average population of each contry in history
First we use loc attribute to get the columns which shows population of each country in the specified years and then we use mean function which uses the values in each column/row and returns their mean and because we used axis = 1 it will be calculated for the values in each row.

In [5]:
df['mean_population_in_history'] = df.loc[:,'2022':'1970'].mean(axis=1)
df

,CCA3,Name,2022,2020,2015,2010,2000,1990,1980,1970,Area (km²),Density,mean_population_in_history
0,BN,Brunei,449,442,421,396,334,262,188,133,5765,0.077884,328.125
1,JE,Jersey,111,108,101,96,86,83,75,68,116,0.956897,91.000
2,VN,Vietnam,98187,96649,92191,87411,79001,66913,52968,41929,331212,0.296448,76906.125
3,JP,Japan,123952,125245,127251,128105,126804,123686,117624,105417,377930,0.327976,122260.500
4,IS,Iceland,373,367,331,318,281,255,228,204,103000,0.003621,294.625
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,LU,Luxembourg,648,630,569,507,436,381,364,339,2586,0.250580,484.250
230,BJ,Benin,13353,12643,10933,9446,6998,5133,3834,3023,112622,0.118565,8170.375
231,KP,North Korea,26069,25867,25258,24686,23367,20800,17974,14997,120538,0.216272,22377.250
232,MP,Northern Mariana Islands,50,50,52,54,80,48,18,10,464,0.107759,45.250
233,LI,Liechtenstein,39,39,37,36,33,29,25,21,160,0.243750,32.375

## 1.3 Find the percentages of the world's population for each country in the specified years
1. First we use loc attribute to get the columns which shows population of each country in the specified years and then we use sum function which uses the values in each column/row and returns their sum and because we used axis = 0 it will be calculated for the values in each column.
2. Then we simply devide the dataframes and I think python will use broadcasting on the second operand to have the same shape and then devide each entry by it's corresponding value in the other DF.
3. After that we will change the name of the columns.
4. And lastly we will use join function(which is like join function in database) to add the values.

In [6]:
percentages = ((df.loc[:,'2022':'1970'] / df.loc[:,'2022':'1970'].sum(axis=0)) *100)
percentages.columns = ['2022_percentage_of_world', '2020_percentage_of_world', '2015_percentage_of_world', '2010_percentage_of_world', '2000_percentage_of_world', '1990_percentage_of_world', '1980_percentage_of_world', '1970_percentage_of_world']
df = df.join(percentages)
df

,CCA3,Name,2022,2020,2015,2010,2000,1990,1980,1970,...,Density,mean_population_in_history,2022_percentage_of_world,2020_percentage_of_world,2015_percentage_of_world,2010_percentage_of_world,2000_percentage_of_world,1990_percentage_of_world,1980_percentage_of_world,1970_percentage_of_world
0,BN,Brunei,449,442,421,396,334,262,188,133,...,0.077884,328.125,0.005631,0.005638,0.005670,0.005670,0.005433,0.004930,0.004232,0.003600
1,JE,Jersey,111,108,101,96,86,83,75,68,...,0.956897,91.000,0.001392,0.001378,0.001360,0.001375,0.001399,0.001562,0.001688,0.001841
2,VN,Vietnam,98187,96649,92191,87411,79001,66913,52968,41929,...,0.296448,76906.125,1.231430,1.232885,1.241662,1.251628,1.285185,1.259137,1.192327,1.135017
3,JP,Japan,123952,125245,127251,128105,126804,123686,117624,105417,...,0.327976,122260.500,1.554566,1.597665,1.713862,1.834321,2.062841,2.327464,2.647754,2.853636
4,IS,Iceland,373,367,331,318,281,255,228,204,...,0.003621,294.625,0.004678,0.004682,0.004458,0.004553,0.004571,0.004798,0.005132,0.005522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,LU,Luxembourg,648,630,569,507,436,381,364,339,...,0.250580,484.250,0.008127,0.008036,0.007663,0.007260,0.007093,0.007169,0.008194,0.009177
230,BJ,Benin,13353,12643,10933,9446,6998,5133,3834,3023,...,0.118565,8170.375,0.167469,0.161278,0.147250,0.135256,0.113843,0.096590,0.086305,0.081833
231,KP,North Korea,26069,25867,25258,24686,23367,20800,17974,14997,...,0.216272,22377.250,0.326949,0.329968,0.340184,0.353476,0.380133,0.391404,0.404600,0.405968
232,MP,Northern Mariana Islands,50,50,52,54,80,48,18,10,...,0.107759,45.250,0.000627,0.000638,0.000700,0.000773,0.001301,0.000903,0.000405,0.000271
233,LI,Liechtenstein,39,39,37,36,33,29,25,21,...,0.243750,32.375,0.000489,0.000497,0.000498,0.000515,0.000537,0.000546,0.000563,0.000568

## 1.4 Find growth rate by deviding 2022's population by 2020's population

In [7]:
df['growth_rate'] = df.loc[:,'2022'] / df.loc[:,'2020']
df

,CCA3,Name,2022,2020,2015,2010,2000,1990,1980,1970,...,mean_population_in_history,2022_percentage_of_world,2020_percentage_of_world,2015_percentage_of_world,2010_percentage_of_world,2000_percentage_of_world,1990_percentage_of_world,1980_percentage_of_world,1970_percentage_of_world,growth_rate
0,BN,Brunei,449,442,421,396,334,262,188,133,...,328.125,0.005631,0.005638,0.005670,0.005670,0.005433,0.004930,0.004232,0.003600,1.015837
1,JE,Jersey,111,108,101,96,86,83,75,68,...,91.000,0.001392,0.001378,0.001360,0.001375,0.001399,0.001562,0.001688,0.001841,1.027778
2,VN,Vietnam,98187,96649,92191,87411,79001,66913,52968,41929,...,76906.125,1.231430,1.232885,1.241662,1.251628,1.285185,1.259137,1.192327,1.135017,1.015913
3,JP,Japan,123952,125245,127251,128105,126804,123686,117624,105417,...,122260.500,1.554566,1.597665,1.713862,1.834321,2.062841,2.327464,2.647754,2.853636,0.989676
4,IS,Iceland,373,367,331,318,281,255,228,204,...,294.625,0.004678,0.004682,0.004458,0.004553,0.004571,0.004798,0.005132,0.005522,1.016349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,LU,Luxembourg,648,630,569,507,436,381,364,339,...,484.250,0.008127,0.008036,0.007663,0.007260,0.007093,0.007169,0.008194,0.009177,1.028571
230,BJ,Benin,13353,12643,10933,9446,6998,5133,3834,3023,...,8170.375,0.167469,0.161278,0.147250,0.135256,0.113843,0.096590,0.086305,0.081833,1.056158
231,KP,North Korea,26069,25867,25258,24686,23367,20800,17974,14997,...,22377.250,0.326949,0.329968,0.340184,0.353476,0.380133,0.391404,0.404600,0.405968,1.007809
232,MP,Northern Mariana Islands,50,50,52,54,80,48,18,10,...,45.250,0.000627,0.000638,0.000700,0.000773,0.001301,0.000903,0.000405,0.000271,1.000000
233,LI,Liechtenstein,39,39,37,36,33,29,25,21,...,32.375,0.000489,0.000497,0.000498,0.000515,0.000537,0.000546,0.000563,0.000568,1.000000

## 1.5 Sort by percentage of the world population 
I used sort_values function and passed the column which I want the Df to be sorted by and the order by specifing ascending variable.

In [9]:
df.sort_values('2022_percentage_of_world',ascending=False)

,CCA3,Name,2022,2020,2015,2010,2000,1990,1980,1970,...,mean_population_in_history,2022_percentage_of_world,2020_percentage_of_world,2015_percentage_of_world,2010_percentage_of_world,2000_percentage_of_world,1990_percentage_of_world,1980_percentage_of_world,1970_percentage_of_world,growth_rate
133,CN,China,1425887,1424930,1393715,1348191,1264099,1153704,982372,822534,...,1226929.000,17.883019,18.176855,18.771058,19.304595,20.564303,21.709850,22.113507,22.265979,1.000672
41,IN,India,1417173,1396387,1322867,1240614,1059634,870452,696828,557501,...,1070182.000,17.773731,17.812751,17.816851,17.764212,17.238076,16.379750,15.685821,15.091541,1.014886
86,US,United States,338290,335942,324608,311183,282399,248084,223140,200328,...,282996.750,4.242725,4.285382,4.371938,4.455794,4.594054,4.668326,5.022953,5.422875,1.006989
125,ID,Indonesia,275501,271858,259092,244016,214072,182160,148177,115228,...,213763.000,3.455246,3.467906,3.489545,3.494038,3.482513,3.427800,3.335512,3.119220,1.013400
158,PK,Pakistan,235825,227197,210969,194454,154370,115414,80624,59291,...,159768.000,2.957642,2.898196,2.841407,2.784365,2.511284,2.171805,1.814872,1.605006,1.037976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,FK,Falkland Islands,4,4,3,3,3,2,2,2,...,2.875,0.000050,0.000051,0.000040,0.000043,0.000049,0.000038,0.000045,0.000054,1.000000
162,MS,Montserrat,4,5,5,5,5,11,11,11,...,7.125,0.000050,0.000064,0.000067,0.000072,0.000081,0.000207,0.000248,0.000298,0.800000
29,NU,Niue,2,2,2,2,2,3,4,5,...,2.750,0.000025,0.000026,0.000027,0.000029,0.000033,0.000056,0.000090,0.000135,1.000000
66,TK,Tokelau,2,2,1,1,2,2,2,2,...,1.750,0.000025,0.000026,0.000013,0.000014,0.000033,0.000038,0.000045,0.000054,1.000000
168,VA,Vatican City,1,1,1,1,1,1,1,1,...,1.000,0.000013,0.000013,0.000013,0.000014,0.000016,0.000019,0.000023,0.000027,1.000000